*{
    margin:0;
    padding:0;
}
main{
    font-family: arial,"sans-serif";
}
.navigation-top {
    /*background-color: blue;*/
    text-align:right;
    margin-bottom:200px;
    font-size:12px;   
}

.nav-menu {
    margin-top:10px;
    margin-right:20px;
}
.nav-menu img{
    height:15px;
    width: 15px;
}
ul{
    list-style-type: none;
}
li{
    display: inline;
    text-decoration: none;
    margin: 2px 2px 2px 2px;
}
.nav-menu a {
    text-decoration: none;
    color:#5f6368;
}
.nav-menu a:hover {
    /*color:black;*/
    text-decoration: underline;
}
img{
    height:92px;
    width:272px;
    /*display: inline;*/
    padding: 2px 2px 2px 2px;        
}
.logo{
    text-align: center; 
    /*background-color:green; */
}
.search-box {
    text-align:center;

    padding: 3px 3px 3px 3px;
}
#main-box{
    width:400px;
    border-radius:25px;
    border: 1px solid #f0f0f0;
    height:30px;
    text-align: left;
    padding:5px; 
}
button{
    height:30px;
    margin-right:5px;
    margin-top:10px; 
    border-radius:4px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2; 
    padding-right: 8px;
    padding-left: 8px;
    padding-top:6px;
    padding-bottom:6px;
    text-align: center;
    font-size:14px;
}
button:hover{
    border:1px solid blue;
}
.buttons{
    text-align: center;
    margin-top:10px;
}
footer{
    background-color:#f2f2f2;
    position: fixed;
    left:0;
    bottom:0;
    width:100%;
    color:white;
    border:1px solid #e4e4e4 ;
    display: inline-block;
    font-size:12px;
    height:27px;
}

.footer-menu-left {
    margin-left:5px;
    float: left;
    margin: 5px 5px 5px 5px;
    
}
.footer-menu-left a, .footer-menu-right a{
    text-decoration: none;
    color:#5f6368;
    margin: 8px 8px;  
}
.footer-menu-left a:hover, .footer-menu-right a:hover{
  
    text-decoration:underline;
}
.footer-menu-right{
    float:right;
    margin: 5px 5px 5px 5px;
    overflow:hidden;
}
.offer-lang{
    margin-top:20px;
    font-size: 12px;
}
.offer-lang a{
    margin-left:3px;
    
}


