*{
    margin:0;
    padding:0;
}
main{
    
}
.navigation-top {
    background-color: blue;
   /* margin-bottom:100px;*/
}
img{
    height:50px;
    width:100px;
    /*display: inline;*/
    padding: 2px 2px 2px 2px;        
}
.logo{
    text-align: center; 
    background-color:green; 
}
.search-box {
    text-align:center;
    background-color:black;
    padding: 3px 3px 3px 3px;
}

#main-box{
    width:300px;
    border-radius:25px;
    border: 1px solid #f0f0f0;
    height:20px;
    text-align: center; 
}
